<nav>
  <div class="desktop-nav">
    <a routerLink="/home" matTooltip="zur Startseite zurückkehren">HOME</a>
  </div>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/home"
      matTooltip="zur Startseite zurückkehren"
    >
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title" matTooltip="about">about</div>

<div class="description">
  Wir entwickeln Web- und Mobile Apps in den Bereichen Finanzen, Management und
  Verwaltung.
</div>

<div class="footer">
  <div class="footer-title">Datenschutzerklärung</div>
  <div class="footer-message">
    Auf <a routerLink="/home">johnapps.de</a> werden keine personenbezogene
    Daten im Sinne der EU-Datenschutz-Grundverordnung (DSGVO) erhoben. Die
    Erklärung zum Datenschutz gilt nur für
    <a routerLink="/home">johnapps.de</a>. Sie trifft nicht zu für Websites, auf
    die verlinkt wird (Drittwebsites).
  </div>
</div>
