nav {
  background-color: #ffb300;
  height: 3em;
}

nav button:hover {
  background-color: #ffb300;
}
.mat-menu-item:hover {
  background-color: #ffb300;
}

.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 4em;
  font-weight: bold;
  font-size: 1em;
  font-style: italic;
  color: beige;
}

.description {
  text-align: center;
  margin: 1em;
  color: beige;
}

.desktop-nav a {
  float: left;
  text-align: center;
  font-weight: bold;
  color: beige;
  margin: 1em;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    background-color: #ffb300;
  }
  .desktop-nav a {
    display: none;
  }
  .mobile-nav {
    float: right;
    display: block;
    color: beige;
  }
}

.footer {
  text-align: center;
  margin-top: 21em;
}

.footer .footer-title {
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  color: beige;
}

.footer .footer-message {
  font-size: 0.8em;
  text-align: center;
  color: beige;
}

.footer .footer-message a {
  font-weight: bold;
  text-decoration: none;
  color: #ffb300;
}
