.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  color: beige;
}

.description {
  text-align: center;
  margin: 1rem;
  color: beige;
}

.customers {
  text-align: center;
}

.customers .customer-list {
  margin: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.customers .customer-list .customer-item {
  margin: 1rem;
  cursor: pointer;
}

.technologies .items {
  display: grid;
  grid-template-columns: auto auto auto;
  place-content: center;
  grid-auto-flow: row;
}

.technologies .items .item {
  margin: 0.8rem;
  padding: 0.8rem;
  cursor: pointer;
}

.technologies .items .item i {
  font-size: 4rem;
}

/* .footer {
  text-align: center;
  margin-top: 21em;
}

.footer .footer-title {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: beige;
}

.footer .footer-message {
  font-size: 0.8em;
  text-align: center;
  color: beige;
}

.footer .footer-message a {
  font-weight: bold;
  text-decoration: none;
  color: #ffb300;
}
 */
