
<div class="about">
  <div class="title">ABOUT</div>

  <div class="info">
    <div class="catchphrase"><span>MANDI GUIDE</span> - is a small consulting business aiming to provide reliable transport-related information and services in the Southwest and Northwest regions of Cameroon.</div><br>

    <div class="highlights">
      <div class="test">
        <p>What we offer</p>
        <mat-divider></mat-divider>
      </div> 
      <ul>
        <li><span class="offeritems">Planning services</span> - take advantage of our knowlegde and network in the region. Let us help you plan your transport-related activities so you can focus on the things that matter to you more.</li>
        <li><span class="offeritems">Price information</span> - use our price guide for orientation. Avoid paying too much.</li>
        <li><span class="offeritems">Safety information</span> - moving around the Southwest and Northwest regions of Cameroon is unfortunately not very safe right now. Consult with us so we can help guide you to your destination safely.</li>
      </ul>
    </div>
    
  </div>
</div>

<div class="privacy">
    <div class="privacy-title">
      <p>Privacy notice</p>
      <mat-divider></mat-divider>
    </div>
    <div class="privacy-msg">
      This site <a routerLink="/home">mandiguide.com</a> does not collect, retain, store or forward any personal information from its visitors in accordance with global privacy regulations. This privacy disclaimer only applies to <a routerLink="/home">mandiguide.com</a>. It does not apply to third-party applications or sites linked on <a routerLink="/home">mandiguide.com</a>.
    </div>
  </div>
