
<div class="about">
  <div class="title">{{ aboutTitle | uppercase }}</div>
  <mat-divider></mat-divider>
  <div class="info">
    <div class="catchphrase"><span>stuuur<sup>beta</sup></span> - ist eine kostenlose Webapp um Kleinigkeiten zu erledigen.</div><br>
    <div class="highlights">
      <div class="test">
        <p>Highlights</p>
        <mat-divider></mat-divider>
      </div> 
      <ul>
        <li><span>Schnell</span>: die Anwendung lädt und reagiert schnell.</li>
        <li><span>Unkompliziert</span>: Sie erstellen Ihren gewünschten Beleg innerhalb von 3 kurze Schritte.</li>
        <li><span>Datenschutz</span>: am Schluss können Sie ihre Daten selber löschen oder den Browser einfach schließen. Alle bis dahin eingegebene Daten werden mit der Schließung des Browsers automatisch gelöscht.</li>
        <li><span>Wetter</span>: kurz und überschaubaren Wetterbericht.</li>
      </ul>
    </div>
    <div class="howtouse">
      <div class="test">
        <p>Anleitung</p>
        <mat-divider></mat-divider>
      </div>
      
      <p><img src="../assets/baustelle.png" width="100" height="76"></p>
     <!-- <ol>
        <li>Auf dem Homepage, einfach auf "<span>LOS LEGEN</span>" klicken um mit der Erfassung anzufangen.</li>
        <li>Choose the type of transaction you would like to document; "<span>VERSCHENKEN</span>" or "<span>VERKAUFEN</span>".</li>
        <li>Enter transaction information (e.g. items, prices, date and place of transaction).</li>
        <li>Enter persons information (e.g. Käufer/Verkäufer or Geber/Empfänger).</li>
        <li>Click on the "<span>VORSCHAU</span>" button to preview the captured information.</li>
        <li>Click on the "<span>SPEICHERN</span>" button to generate and save an image of the documented transaction.</li>
        <li>Close the browser when you are done.</li>
      </ol> -->
    </div>
  </div>
</div>
