
.about {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.title {
    margin-top: 2em;
    font-weight: bold;
    font-size: 1.5em;
}

.info {
    margin-top: 1em;
}

.info .catchphrase {
    text-align: center;
}

sup {
    font-size: 0.5em;
}

.info .catchphrase span {
    font-weight: bold;
}

.info div p {
    text-align: center;
    font-weight: bold;
}

.highlights {
    margin-bottom: 2em;
    text-align: auto;
}

.highlights ul li span {
    font-weight: bold;
}


mat-divider {
    width: 12em;
}

.test {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.test p {
    margin-bottom: 0.1em;
}


.gdpr {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0.5em;
 }
 
.gdpr div {
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
 }

.gdpr div p {
     font-weight: bold;
     margin-bottom: 0.1em;
 }

 .gdpr-msg {
    margin-bottom: 0;
 }
