<app-nav></app-nav>

<div class="title" matTooltip="Altersrechner">
  {{ "age-calculator.title" | translate }}
</div>
<div class="calculator">
  <div [formGroup]="ageForm" class="age">
    <mat-form-field appearance="fill">
      <mat-label style="color: var(--txt-color)">Datum auswählen</mat-label>
      <input matInput type="date" formControlName="selectedDate" />
    </mat-form-field>
    <mat-form-field>
      <mat-label style="color: var(--txt-color)">Alter</mat-label>
      <input
        matInput
        type="text"
        [value]="showAge(ageForm.value.selectedDate)"
        disabled
      />
    </mat-form-field>
  </div>
</div>
