.title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  color: var(--secondary-color);
}

.calculator {
  background-color: var(--secondary-color);
  margin: 0 auto;
  padding: 1rem;
  width: 50%;
  height: auto;
  @media screen and (max-width: 600px) {
    width: 80%;
  }
}

.calculator .age {
  color: var(--txt-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  // align-items: center;
  margin: 1rem auto auto auto;
}

.calculator .age .results {
  width: 100%;
  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0.3rem auto 0.3rem auto;
    padding: 0.3rem auto 0.3rem auto;
  }
  div :nth-child(2) {
    font-weight: bold;
  }
}
