<app-nav></app-nav>

<div class="title" matTooltip="Altersrechner">
  {{ "age-calculator.title" | translate }}
</div>
<div class="calculator">
  <div [formGroup]="ageForm" class="age">
    <mat-form-field appearance="fill">
      <mat-label style="color: var(--txt-color)">{{
        "age-calculator.select-date" | translate
      }}</mat-label>
      <input matInput type="date" formControlName="selectedDate" />
    </mat-form-field>
    <div style="font-weight: bold; font-style: italic; text-align: center">
      {{ "age-calculator.result-title" | translate }}
    </div>
    <div class="results">
      <div>
        <span>{{ "age-calculator.today-date" | translate }}</span>
        <span>{{ current_datetime | date: "mediumDate" }}</span>
      </div>
      <div>
        <span>{{ "age-calculator.selected-date" | translate }}</span>
        <span>{{
          formatDisplayedDate(ageForm.value.selectedDate) | date: "mediumDate"
        }}</span>
      </div>
      <div>
        <span>{{ "age-calculator.years" | translate }}</span>
        <span>{{ showAgeInYears(ageForm.value.selectedDate) }}</span>
      </div>
      <div>
        <span>{{ "age-calculator.months" | translate }}</span>
        <span>{{ showAgeInMonths(ageForm.value.selectedDate) }}</span>
      </div>
      <div>
        <span>{{ "age-calculator.days" | translate }}</span>
        <span>{{ showAgeInDays(ageForm.value.selectedDate) }}</span>
      </div>
    </div>
    <div class="generation">
      <div class="gTitle">Generation</div>
      <div class="gData">
        {{ showGeneration(ageForm.value.selectedDate)["name"] | uppercase }}
      </div>
      <div class="results">
        <div>
          <span>{{ "age-calculator.generation.period" | translate }}</span>
          <span>{{
            showGeneration(ageForm.value.selectedDate)["period"]
          }}</span>
        </div>
        <div>
          <span>{{ "age-calculator.generation.othernames" | translate }}</span>
          <span>{{
            showGeneration(ageForm.value.selectedDate)["other_names"]
          }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
