<app-nav></app-nav>

<div class="title" matTooltip="Altersrechner">
  {{ "age-calculator.title" | translate }}
</div>
<div class="calculator">
  <div [formGroup]="ageForm" class="age">
    <mat-form-field appearance="fill">
      <mat-label style="color: var(--txt-color)">{{
        "age-calculator.select-date" | translate
      }}</mat-label>
      <input matInput type="date" formControlName="selectedDate" />
    </mat-form-field>
    <!--     <mat-form-field>
      <mat-label style="color: var(--txt-color)">{{
        "age-calculator.age" | translate
      }}</mat-label>
      <input
        matInput
        type="text"
        [value]="showAge(ageForm.value.selectedDate)"
        disabled
      />
    </mat-form-field> -->
    <div class="results">
      <div>
        <span>{{ "age-calculator.years" | translate }}</span>
        <span>{{ showAgeInYears(ageForm.value.selectedDate) }}</span>
      </div>
      <div>
        <span>{{ "age-calculator.months" | translate }}</span>
        <span>{{ showAgeInMonths(ageForm.value.selectedDate) }}</span>
      </div>
      <div>
        <span>{{ "age-calculator.days" | translate }}</span>
        <span>{{ showAgeInDays(ageForm.value.selectedDate) }}</span>
      </div>
      <div>
        <span>Generation</span>
        <span>{{
          showGeneration(ageForm.value.selectedDate) | uppercase
        }}</span>
      </div>
    </div>
  </div>
</div>
