nav button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.title {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: #FFC107;
    margin-top: 2em;
    margin-bottom: 1em;
}

.content ul li {
    text-align: left;
}