<nav>
  <div class="desktop-nav">
    <a routerLink="/home" matTooltip="zur Startseite zurückkehren">HOME</a>
  </div>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/home"
      matTooltip="zur Startseite zurückkehren"
    >
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title" matTooltip="Kontakt und Impressum">contact</div>

<div class="mail">
  <mat-icon>email</mat-icon><br />
  <a href="mailto:hello@johnapps.de"><span>hello@johnapps.de</span></a>
</div>

<!--
<div class="address">
  <span>John Apps</span><br />
  <span>c/o John-Francis Edah</span><br />
  <span>Leipziger Allee 10</span><br />
  <span>76139 Karlsruhe</span><br />
  <a href="mailto:hello@johnapps.de"><span>hello@johnapps.de</span></a
  ><br /><br />
  <span>USt-IdNr: DE337062479</span>
</div>
-->
