<nav>
  <div class="desktop-nav">
    <a routerLink="/home" matTooltip="zur Startseite zurückkehren">HOME</a>
  </div>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      routerLink="/home"
      matTooltip="zur Startseite zurückkehren"
    >
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="page-title" matTooltip="So erreichen Sie uns">KONTAKT</div>

<div class="message">So erreichen Sie uns</div>

<div class="content">
  <div
    (click)="goToFacebook()"
    matTooltip="Hier geht's zu unserer Facebookseite"
  >
    <i class="fab fa-facebook-square"></i><br />
  </div>
  <div
    (click)="goToInstagram()"
    matTooltip="Hier geht's zu unserer Instagramseite"
  >
    <i class="fab fa-instagram-square"></i><br />
  </div>
</div>
