nav {
  background-color: #64b5f6;
  height: 3em;
}

nav button:hover {
  background-color: #64b5f6;
}
.mat-menu-item:hover {
  background-color: #64b5f6;
}

.page-title {
  text-align: center;
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
}

.message {
  text-align: center;
  margin-top: 4em;
}

.content {
  margin-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.content div {
  cursor: pointer;
  margin-left: 2em;
  margin-right: 2em;
}

i {
  color: #64b5f6;
  font-size: 4em !important;
}

.desktop-nav a {
  float: left;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 1em;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    background-color: white;
  }
  .desktop-nav a {
    display: none;
  }
  .mobile-nav {
    float: right;
    display: block;
  }
}
