nav button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.title {
    text-align: center;
    margin: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.form-input {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1em;
}

mat-form-field { width: 15em; }

.form-input button {
    width: 12em;
    margin-top: 1em;
}
