<nav>
  <ul class="desktop-nav">
    <li>
      <a routerLink="/home">home</a>
    </li>
    <li>
      <a>{{ "nav.about" | translate }}</a>
    </li>
    <li>
      <a>{{ "nav.solutions" | translate }}</a>
    </li>
    <li>
      <a routerLink="/contact">{{ "nav.contact" | translate }}</a>
    </li>
  </ul>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span class="btn-txt">home</span>
    </button>
    <button mat-menu-item routerLink="/about" matTooltip="Über uns">
      <mat-icon>info</mat-icon>
      <span class="btn-txt">{{ "nav.about" | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/solutions" matTooltip="Unsere Lösungen">
      <mat-icon>build</mat-icon>
      <span class="btn-txt">{{ "nav.solutions" | translate }}</span>
    </button>
    <button
      mat-menu-item
      routerLink="/contact"
      matTooltip="So erreichen Sie uns"
    >
      <mat-icon>mail</mat-icon>
      <span class="btn-txt">{{ "nav.contact" | translate }}</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon>menu</mat-icon>
  </button>
</nav>
