<nav>
  <ul class="desktop-nav">
    <li><a routerLink="/home">HOME</a></li>
    <li><a routerLink="/about">ABOUT</a></li>
    <li><a routerLink="/solutions">SOLUTIONS</a></li>
    <li><a routerLink="/contact">CONTACT</a></li>
    <li>
      <div class="language">
        <mat-select [formControl]="selectedLanguage">
          <mat-option
            *ngFor="let language of languages"
            [value]="language.value"
            >{{ language.viewValue }}</mat-option
          >
        </mat-select>
      </div>
    </li>
  </ul>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item routerLink="/about" matTooltip="Über uns">
      <mat-icon>info</mat-icon>
      <span>ABOUT</span>
    </button>
    <button mat-menu-item routerLink="/solutions" matTooltip="Unsere Lösungen">
      <mat-icon>build</mat-icon>
      <span>SOLUTIONS</span>
    </button>
    <button
      mat-menu-item
      routerLink="/contact"
      matTooltip="So erreichen Sie uns"
    >
      <mat-icon>mail</mat-icon>
      <span>CONTACT</span>
    </button>
    <br />
    <div class="language-toggle">
      <mat-button-toggle-group #toggleBtnGroup="matButtonToggleGroup">
        <mat-button-toggle value="de">DE</mat-button-toggle>
        <mat-button-toggle value="en" checked>EN</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-nav">
    <mat-icon>menu</mat-icon>
  </button>
</nav>
