
<div class="pageTitle" *ngIf="showHide">
    <p>{{ oTitle }}</p>
  </div>

 <div class="invoice-box" id="canvas-box">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="2">
              <table>
                  <tr>
                      <td class="title">
                        {{ trLogo }}
                      </td>
                      
                      <td>
                        <span style="font-weight:bold">Datum:</span>  {{ trDate }}<br>
                        <span style="font-weight:bold">Ort:</span> {{ trPlace }}{{ commaSpace }}{{ trCountry | uppercase }}
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="information">
          <td colspan="2">
              <table>
                  <tr>
                      <td>
                          <span class="bsInfo">{{ sgInfo }} information</span><br>
                          {{ sgNames }}<br>
                          {{ sgPhone }}<br>
                          {{ sgEmail }}
                      </td>
                      
                      <td>
                          <span class="bsInfo">{{ brInfo }} information</span><br>
                          {{ brNames }}<br>
                          {{ brPhone }}<br>
                          {{ brEmail }}
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
      
      <tr class="heading">
        <td>Art der Transaktion</td>
        
        <td>Zahlungsart</td>
    </tr>
    
    <tr class="details">
        <td>{{ trType }}</td>
        
        <td>{{ payMethod }}</td>
    </tr>
      
    <tr class="heading">
        <td>Artikel</td>
        
        <td>Preis</td>
    </tr>
    
    <tr class="item">
        <td>{{ trItem1 }}</td>
        
        <td>{{ trPrice1 }}</td>
    </tr>
    
    <tr class="item">
        <td>{{ trItem2 }}</td>
        
        <td>{{ trPrice2 }}</td>
    </tr>
    
    <tr class="item last">
        <td>{{ trItem3 }}</td>
        
        <td>{{ trPrice3 }}</td>
    </tr>
    
    <tr class="total">
        <td>Summe</td>
        
        <td>{{ trTotal }} <span class="currency">{{ trCurrency }}</span>
        </td>
    </tr>
  </table>
  <p class="sig">⚙️ von stuuur</p>
</div>

<div class="nav-button">
    <div>
        <button mat-raised-button color="accent" routerLink="/datenerfassung">ZURÜCK</button>
    </div>
    <div>
        <!-- <button mat-raised-button color="primary" (click)="createImg()">SPEICHERN</button> -->
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">SPEICHERN</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="createImg()">als Bild</button>
            <button mat-menu-item (click)="createPdf()">als PDF</button>
        </mat-menu>
    </div>
    <div>
        <button mat-raised-button color="accent" (click)="deleteData()">LÖSCHEN</button>
    </div>
</div>