
<div class="pageTitle">
  <p>{{ wTitle | uppercase }}</p>
  <mat-divider class="divider"></mat-divider>
</div>

<div class="input">
  <mat-form-field>
      <input type="text" matInput placeholder="Ort" [formControl]="wTown">
      <mat-icon matSuffix>place</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <!-- input type="text" matInput placeholder="Land" [formControl]="wCountry"> -->
    <mat-select placeholder="Land" [formControl]="wCountry">
      <mat-option *ngFor="let cCode of cCodes" [value]="cCode.value">{{ cCode.viewName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="showWeatherData()">Abfragen</button>
</div>

<div class="response" *ngIf="resData">
    <p> {{ wTime }} Uhr<span> in </span>{{ resData.name + ', ' + resData.sys.country }}</p>
    <p><span class="resText">Temperatur (aktuell):</span> {{ resData.main.temp }} &#8451;</p>
    <p><span class="tempmm1">(min | max):</span>&nbsp;<span class="tempmm2">{{ resData.main.temp_min }} | {{ resData.main.temp_max }} &#8451;</span></p>
    <p><span class="resText">Luftdruck:</span> {{ resData.main.pressure }} hPa</p>
    <p><span class="resText">Wind:</span> {{ (resData.wind.speed * 3.6).toFixed(2) }} km/h</p>
    <p><span class="resText">Luftfeuchtigkeit:</span> {{ resData.main.humidity }} %</p>
    <p><span class="resText">Sonnenauf- | untergang:</span> {{ cUnixDate(resData.sys.sunrise) }} | {{ cUnixDate(resData.sys.sunset) }} Uhr</p>
</div>