
<div class="title">
  <p>{{ wTitle | uppercase }}</p>
  <mat-divider class="divider"></mat-divider>
</div>

<div class="input">
  <mat-form-field>
      <input type="text" matInput placeholder="City / Town" [formControl]="wTown">
      <mat-icon matSuffix>place</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <!-- input type="text" matInput placeholder="Land" [formControl]="wCountry"> -->
    <mat-select placeholder="Country" [formControl]="wCountry">
      <mat-option *ngFor="let cCode of cCodes" [value]="cCode.value">{{ cCode.viewName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="wTown.invalid" (click)="showWeatherData()">QUERY</button>
</div>

<div class="response" *ngIf="respData">
    <p> {{ wTime }} <span> in </span>{{ respData.name + ', ' + respData.sys.country }}</p>
    <p><span class="resText">Temperature (current):</span> {{ respData.main.temp }} &#8451;</p>
    <p><span class="tempmm1">(min | max):</span>&nbsp;<span class="tempmm2">{{ respData.main.temp_min }} | {{ respData.main.temp_max }} &#8451;</span></p>
    <p><span class="resText">Air pressure:</span> {{ respData.main.pressure }} hPa</p>
    <p><span class="resText">Windspeed:</span> {{ windMs2Kmh(respData.wind.speed) }} km/h</p>
    <p><span class="resText">Humidity:</span> {{ respData.main.humidity }} %</p>
    <p><span class="resText">Sunrise | Sunset:</span> {{ cUnixDate(respData.sys.sunrise) }} | {{ cUnixDate(respData.sys.sunset) }} Uhr</p>
</div>