
<div class="pageTitle">
  <p>{{ wTitle | uppercase }}</p>
  <mat-divider class="divider"></mat-divider>
</div>

<div class="input">
  <mat-form-field>
      <input type="text" matInput placeholder="Ort" [formControl]="wTown">
      <mat-icon matSuffix>place</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <!-- input type="text" matInput placeholder="Land" [formControl]="wCountry"> -->
    <mat-select placeholder="Land" [formControl]="wCountry">
      <mat-option *ngFor="let cCode of cCodes" [value]="cCode.value">{{ cCode.viewName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="showWeatherData()">Abfragen</button>
</div>

<div class="response" *ngIf="resData">
    <p> {{ wTime }} <span>Uhr</span></p>
    <p><span>Temperatur:</span> {{ resData.main.temp }} <span>&#8451;</span></p>
    <p><span>Luftdruck:</span> {{ resData.main.pressure }} <span>hPa</span></p>
    <p><span>Wind:</span> {{ resData.wind.speed * 3.6 }} <span>km/h</span></p>
    <p><span>Luftfeuchtigkeit:</span> {{ resData.main.humidity }} <span>%</span></p>
</div>