
.pageTitle {
    margin-top: 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.pageTitle p {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
}

.pageTitle mat-divider {
    width: 15em;
}

.input {
    margin-top: 3em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

mat-form-field {
    width: 15em;
}

.response {
    margin-top: 3em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.response p {
    font-weight: bold;
    font-size: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}