<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="erfassen">
      <mat-icon>create</mat-icon>
      <span>ERFASSEN</span>
    </button>
      <mat-menu #erfassen="matMenu">
        <button mat-menu-item>
          <mat-icon>add</mat-icon>
          <span>EINNAHME</span>
        </button>
        <button mat-menu-item>
          <mat-icon>remove</mat-icon>
          <span>AUSGABE</span>
        </button>
      </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="buchungen">
        <mat-icon>account_balance</mat-icon>
        <span>BUCHUNGEN</span>
    </button>
      <mat-menu #buchungen="matMenu">
        <button mat-menu-item>
          <mat-icon>list</mat-icon>
          <span>BUCHUNGSLISTE</span> 
        </button>
        <button mat-menu-item>
          <mat-icon>bar_chart</mat-icon>
          <span>BILANZ</span> 
        </button>
    </mat-menu>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title" matTooltip="Meine Buchführung">BUCHFÜHRUNG</div>
