.main {
  background-color: white;
  height: 100%;
  width: 100%;
  // position: relative;
}

.main .bar-chart {
  margin: 2rem auto 2rem auto;
  padding: 1rem auto 1rem auto;
  height: auto;
  width: 98%;
  overflow: auto;
}
