<div class="main">
  <div class="tree-select">
    <mat-form-field appearance="fill">
      <mat-label>Baum auswählen</mat-label>
      <mat-select [formControl]="selectedTree">
        <mat-option *ngFor="let i of soilHumidityDataSrc" [value]="i.value">{{
          i.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--   <div class="bar-chart">
    <canvas id="soilHumidityByDayChart"></canvas>
  </div> -->
  <div class="bar-chart">
    <canvas id="baum1"></canvas>
  </div>
  <div class="bar-chart">
    <canvas id="baum2"></canvas>
  </div>
  <!--   <div class="bar-chart">
    <canvas id="soilHumidityChart"></canvas>
  </div> -->
  <div class="bar-chart">
    <canvas id="rainfallChart"></canvas>
  </div>
  <!--   <div class="bar-chart">
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="'bar'"
    >
    </canvas>
  </div> -->
  <!--   <div style="margin: 1rem 0.5rem 0.5rem 0.5rem; text-align: center">
    <mat-label style="margin-bottom: 0.5rem; font-weight: bold"
      >Bodenfeuchtigkeit data</mat-label
    >
    <div>{{ soilData | json }}</div>
  </div>
  <div style="margin: 0.5rem auto 0.5rem auto; text-align: center">
    <mat-label style="font-weight: bold">Wetter data</mat-label>
    <div>{{ weatherData | json }}</div>
  </div>
</div>
 -->
</div>
