<div class="main">
  <div class="bar-chart">
    <canvas id="myChart"></canvas>
  </div>
  <div style="margin: 3rem auto 3rem auto">&nbsp;</div>
  <div class="bar-chart">
    <canvas id="soilHumidityChart"></canvas>
  </div>

  <!--   <div class="bar-chart">
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="'bar'"
    >
    </canvas>
  </div> -->
  <!--   <div style="margin: 1rem 0.5rem 0.5rem 0.5rem; text-align: center">
    <mat-label style="margin-bottom: 0.5rem; font-weight: bold"
      >Bodenfeuchtigkeit data</mat-label
    >
    <div>{{ soilData | json }}</div>
  </div>
  <div style="margin: 0.5rem auto 0.5rem auto; text-align: center">
    <mat-label style="font-weight: bold">Wetter data</mat-label>
    <div>{{ weatherData | json }}</div>
  </div>
</div>
 -->
</div>
