
<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-menu-item routerLink="/about" matTooltip="About stuuur">
      <mat-icon>info</mat-icon>
    </button>
    <button mat-menu-item routerLink="/offers" matTooltip="Insurance offers">
      <mat-icon>local_offer</mat-icon>
    </button>
    <button mat-menu-item routerLink="/resources" matTooltip="Consumer resources">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-menu-item routerLink="/news" matTooltip="Health & travel insurance news">
      <mat-icon>assignment</mat-icon>
    </button>
    <button mat-menu-item routerLink="/contact" matTooltip="Contact us">
      <mat-icon>mail</mat-icon>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<router-outlet></router-outlet>