
<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home">
      <mat-icon>home</mat-icon>
      <!-- <span>Startseite</span> -->
    </button>
    <button mat-menu-item routerLink="/about">
      <mat-icon>info</mat-icon>
      <!-- <span>Über stuuur</span> -->
    </button>
    <button mat-menu-item routerLink="/contact">
      <mat-icon>mail</mat-icon>
      <!-- <span>Kontakt</span> -->
    </button>
    <button mat-menu-item routerLink="/weather">
      <span class="fa"><i class="fas fa-cloud-sun-rain fa-2x"></i></span> 
      <!-- <mat-icon>cloud</mat-icon> -->
    </button>
    <button mat-menu-item (click)="callExtUrl()">
      <img src="../assets/flag_uk.png" width="26" height="22">
      <span>&nbsp;&nbsp;</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</nav>
<router-outlet></router-outlet>