<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <!-- <button mat-menu-item (click)="ucMessage()">
      <mat-icon>info</mat-icon>
      <span>INFO</span>
    </button> -->
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div
  class="title"
  matTooltip="Gaststättenbesuch aufgrund der aktuellen Situation zum Coronavirus anmelden"
  *ngIf="togglePageTitle"
>
  BESUCHSBELEG
</div>

<div class="guest-info-form" *ngIf="toggleInput">
  <mat-vertical-stepper #stepper>
    <mat-step>
      <div class="formGroup1">
        <ng-template matStepLabel>ANGABEN ZUM GAST</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Vorname, Nachname"
            type="text"
            [formControl]="guestNames"
          /> </mat-form-field
        ><br />
        <!-- <mat-form-field>
          <input matInput placeholder="Adresse" type="text" /> </mat-form-field
        ><br /> -->
        <mat-form-field>
          <input
            matInput
            placeholder="Telefonnummer"
            type="tel"
            [formControl]="guestPhoneNumber"
          />
          <mat-icon matSuffix>phone</mat-icon> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="E-mail"
            type="email"
            [formControl]="guestEmail"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <div>
          <button mat-button matStepperNext>WEITER</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <div class="formGroup2">
        <ng-template matStepLabel>ANGABEN ZUM BESUCH</ng-template>

        <div class="datetime">
          <mat-form-field>
            <input
              matInput
              [ngxMatDatetimePicker]="picker1"
              placeholder="Beginn des Besuchs"
              [formControl]="guestArrivalDateTime"
              [min]="minDate"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker1
              [showSpinners]="showSpinners"
              [stepHour]="stepHour"
              [stepMinute]="stepMinute"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
              [hideTime]="hideTime"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input
            matInput
            placeholder="Tischnummer"
            type="number"
            [formControl]="tableNumber"
          /> </mat-form-field
        ><br />

        <mat-form-field>
          <input
            matInput
            placeholder="Begleitperson(en)"
            type="number"
            [formControl]="numberOfAccompanyingPersons"
          />
        </mat-form-field>

        <div class="datetime">
          <mat-form-field>
            <input
              matInput
              [ngxMatDatetimePicker]="picker2"
              placeholder="Ende des Besuchs"
              [formControl]="guestDepartureDateTime"
              [min]="minDate"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker2
              [showSpinners]="showSpinners"
              [stepHour]="stepHour"
              [stepMinute]="stepMinute"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
              [hideTime]="hideTime"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>

        <div>
          <button mat-button matStepperPrevious>ZURÜCK</button>
          <button mat-button matStepperNext>WEITER</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <div class="formGroup3">
        <ng-template matStepLabel>ANGABEN ZUR GASTSTÄTTE</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Name des Geschäfts"
            type="text"
            [formControl]="businessName"
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="Adresse"
            type="text"
            [formControl]="businessAddress"
          />
          <mat-icon matSuffix>place</mat-icon> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="Telefonnumber"
            type="tel"
            [formControl]="businessPhoneNumber"
          />
          <mat-icon matSuffix>phone</mat-icon> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="E-mail"
            type="email"
            [formControl]="businessEmail"
          />
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>ZURÜCK</button>
          <button mat-button matStepperNext>WEITER</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>ENDE</ng-template>
      <p>Sie sind mit der Datenerfassung jetzt fertig.</p>
      <div>
        <button mat-button matStepperPrevious>ZURÜCK</button>
        <button mat-button (click)="stepper.reset()">NEU STARTEN</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <div class="submit-btn">
    <button mat-raised-button color="primary" (click)="printPreview()">
      VORSCHAU
    </button>
  </div>
</div>

<div class="preview-container" id="printElement" *ngIf="togglePreview">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <caption>
            BESUCHSBELEG
          </caption>
          <br />
          <tr>
            <td>
              <span>GAST INFORMATION</span><br />
              <span style="font-weight: bold">{{
                guestNames.value | uppercase
              }}</span
              ><br />
              <span style="font-weight: bold">{{
                guestPhoneNumber.value | uppercase
              }}</span
              ><br />
              <span style="font-weight: bold">{{
                guestEmail.value | lowercase
              }}</span>
            </td>

            <td>
              <span>GASTSTÄTTE INFORMATION</span><br />
              <span style="font-weight: bold">{{
                businessName.value | uppercase
              }}</span
              ><br />
              <span style="font-weight: bold">{{
                businessAddress.value | uppercase
              }}</span
              ><br />
              <span style="font-weight: bold">{{
                businessPhoneNumber.value
              }}</span
              ><br />
              <span style="font-weight: bold">{{ businessEmail.value }}</span>
              <br /><br />
              <span>ERSTELLT AM: </span> <span>{{ datetimeStamp }}</span>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td></td>

      <td></td>
    </tr>

    <tr class="item">
      <td>BEGINN DES BESUCHS</td>

      <td>
        {{ formatPrintDateTime(guestArrivalDateTime.value) }}
      </td>
    </tr>

    <tr class="item">
      <td>TISCHNUMMER</td>

      <td>{{ tableNumber.value }}</td>
    </tr>

    <tr class="item">
      <td>BEGLEITPERSON(EN)</td>

      <td>
        {{
          processNumberOfAccompanyingPersons(numberOfAccompanyingPersons.value)
        }}
      </td>
    </tr>

    <tr class="item">
      <td>ENDE DES BESUCHS</td>

      <td>
        {{ formatPrintDateTime(guestDepartureDateTime.value) }}
      </td>
    </tr>
  </table>
  <!-- <p class="signature">erstellt auf belego.de</p> -->
</div>

<div class="nav-button" *ngIf="toggleButtons">
  <div>
    <button mat-raised-button color="accent" (click)="backToInput()">
      BEARBEITEN
    </button>
  </div>
  <div>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
      SPEICHERN
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="saveAsImage()">als BILD</button>
      <button mat-menu-item (click)="saveAsPdf()">als PDF</button>
    </mat-menu>
  </div>
</div>
