<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item (click)="ucMessage()">
        <mat-icon>info</mat-icon>
        <span>INFO</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="title" matTooltip="Mein Besuch anmelden">GASTANMELDUNG</div>

<div class="guest-info-form" [formGroup]="guestInfoForm" *ngIf="toggleInput">
  <mat-form-field>
    <input matInput placeholder="NACHNAME, VORNAME" formControlName="lastName" type="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="BEGINN DES BESUCHS" formControlName="arrivedAt" type="datetime-local">
  </mat-form-field>

   <mat-form-field>
    <input matInput placeholder="ENDE DES BESUCHS" formControlName="departedAt" type="datetime-local">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="TISCHNUMMER" formControlName="tableNumber" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="TELEFONNUMMER" formControlName="phoneNumber" type="tel">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-MAIL" formControlName="eMail" type="email">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="preview()">VORSCHAU</button>
</div>

<div class="invoice-box" id="ticketElement" *ngIf="togglePreview">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="2">
              <table>
                  <tr>
                      <td>
                        <span>GAST INFORMATION</span><br>
                        <span style="font-weight: bold">{{ this.guestInfoForm.get('lastName').value | uppercase }}</span><br>
                        <span style="font-weight: bold">{{ this.guestInfoForm.get('phoneNumber').value | uppercase }}</span><br>
                        <span style="font-weight: bold">{{ this.guestInfoForm.get('eMail').value | lowercase}}</span>
                      </td>
                      
                      <td>
                        <span>GASTSTÄTTE INFORMATION</span><br>
                        <span style="font-weight: bold">{{ 'Enchilada' | uppercase }}</span><br>
                        <span style="font-weight: bold">{{ 'Am Alten Schloß 8, 76646 Bruchsal' | uppercase }}</span><br>
                        <br>
                        <span>ERSTELLT AM: </span> <span>{{ datetimeStamp }}</span>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
           
    <tr class="heading">
      <td></td>
        
      <td></td>
    </tr>
    
    <tr class="item">
        <td>BEGINN DES BESUCHS</td>
        
        <td>{{ formatPrintDateTime(this.guestInfoForm.get('arrivedAt').value) }}</td>
    </tr>

    <tr class="item">
      <td>TISCHNUMMER</td>
      
      <td>{{ this.guestInfoForm.get('tableNumber').value }}</td>
  </tr>
    
    <tr class="item">
        <td>ENDE DES BESUCHS</td>
        
        <td>{{ formatPrintDateTime(this.guestInfoForm.get('departedAt').value) }}</td>
    </tr>
  </table>
  <p class="signature">⚙️ mit formulize</p>
</div>


<div class="nav-button" *ngIf="toggleButtons">
  <div>
      <button mat-raised-button color="accent" (click)="backToInput()">BEARBEITEN</button>
  </div>
  <div>
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">DRUCKEN</button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsImage()">als BILD</button>
          <button mat-menu-item (click)="saveAsPdf()" disabled>als PDF</button>
      </mat-menu>
  </div>
</div>

