nav {
  background-color: #64b5f6;
  height: 3em;
}

nav button:hover {
  background-color: #64b5f6;
}
.mat-menu-item:hover {
  background-color: #64b5f6;
}

.title {
  text-align: center;
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
}

.guest-info-form {
  width: 20em;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 0.1em solid #64b5f6;
  border-radius: 0.1em;
}

mat-form-field {
  width: 15em;
}

.datetime {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.date {
  width: 11em;
  margin-right: 0.5em;
}

.time {
  width: 4em;
}

.guest-info-form .submit-btn {
  text-align: center;
}

.guest-info-form button {
  margin-bottom: 1em;
}

/* Style for print */
.preview-container {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

.preview-container table {
  width: 100%;
  line-height: inherit;
  text-align: left;
  background-color: #ffffff;
}

.preview-container table caption {
  font-weight: bold;
  color: #808080;
}

.preview-container table td {
  padding: 5px;
  vertical-align: top;
}

.preview-container table tr td:nth-child(2) {
  text-align: right;
}

.preview-container table tr.top table td {
  padding-bottom: 20px;
}

.preview-container table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.preview-container table tr.information table td {
  padding-bottom: 40px;
}

.preview-container table tr.heading td {
  /* background: #eeee; */
  background: #64b5f6;
  border-bottom: 0.5em solid white;
  font-weight: bold;
}

.preview-container table tr.details td {
  padding-bottom: 20px;
}

.preview-container table tr.item td {
  border-bottom: 1px solid #eee;
}

.preview-container table tr.item td:nth-child(2) {
  font-weight: bold;
}

.preview-container table tr.item.last td {
  border-bottom: none;
}

.preview-container table tr.total td {
  border-top: 3px solid #eee;
}

.preview-container table tr.total td:nth-child(2) {
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .preview-container table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .preview-container table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

.trTitle {
  text-align: center;
  margin-left: 5em;
}

.preview-container .signature {
  text-align: center;
  font-size: 0.6em;
  margin-top: 3em;
  margin-bottom: -1.5em;
  text-transform: uppercase;
}

.currency {
  font-weight: bold;
}

/*Style for navigation buttons*/
.nav-button {
  margin-top: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.nav-button div {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.desktop-nav a {
  float: left;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 1em;
  text-decoration: none;
}

.mobile-nav {
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    background-color: white;
  }
  .desktop-nav a {
    display: none;
  }
  .mobile-nav {
    float: right;
    display: block;
  }
}
