<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item (click)="msg()">
        <mat-icon>info</mat-icon>
        <span>INFO</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="title" matTooltip="Mein Besuch anmelden">GAST ANMELDUNG</div>

<div class="guest-info-form" [formGroup]="guestInfoForm" *ngIf="toggleInput">
  <mat-form-field>
    <input matInput placeholder="NACHNAME, VORNAME" formControlName="lastName" type="text">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="BEGINN DES BESUCHS" formControlName="arrivedAt" type="datetime">
  </mat-form-field>

   <mat-form-field>
    <input matInput placeholder="ENDE DES BESUCHS" formControlName="departedAt" type="datetime">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="TISCHNUMMER" formControlName="tableNumber" type="number">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="TELEFONNUMMER" formControlName="phoneNumber" type="tel">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-MAIL" formControlName="eMail" type="email">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="preview()">VORSCHAU</button>
</div>

<div *ngIf="togglePreview">
  PREVIEW
</div>

