nav button:hover { background-color: #64B5F6; }
.mat-menu-item:hover { background-color: #64B5F6; }

.title {
    text-align: center;
    margin: 1em;
    font-weight: bold;
    font-size: 1em;
}

.guest-info-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1em;
}

mat-form-field { width: 15em; }

.guest-info-form button {
    width: 12em;
    margin-top: 1em;
}