<div class="title" matTooltip="Unsere Lösungen">lösungen</div>

<div class="solutions">
  <div class="item">
    <p (click)="goToCoinEckeApp()">
      <span style="font-weight: bold">CoinEcke</span
      ><span> - Kryptowährung Kurse, Nachrichten und Portfolio</span><br />
      <span>
        <img src="assets/google_play_badge_de.png" alt="JOHN APPS" />
      </span>
    </p>
  </div>
  <div class="item">
    <p (click)="goToQuittungApp()">
      <span style="font-weight: bold">Quittung</span>
      <span> - Eine einfaches Webtool für die Erstellung von Quittungen</span>
    </p>
  </div>
  <!-- <ul>
    <li>
      <p (click)="goToCoinEckeApp()">
        <span style="font-weight: bold">CoinEcke</span
        ><span> - Kryptowährung Kurse, Nachrichten und Portfolio</span><br />
        <span>
          <img src="assets/google_play_badge_de.png" alt="JOHN APPS" />
        </span>
      </p>
    </li>
    <li>
      <p (click)="goToQuittungApp()">
        <span style="font-weight: bold">Quittung</span>
        <span> - Eine einfaches Webtool für die Erstellung von Quittungen</span>
      </p>
    </li>
  </ul> -->
</div>
