.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  color: beige;
}

.solutions {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.solutions .item {
  border-top: 0.1rem solid beige;
  margin-bottom: 1rem;
}

.solutions .item p {
  color: beige;
  text-align: center;
  cursor: pointer;
}

img {
  border-radius: 6px;
  box-sizing: border-box;
  height: 5rem;
}

.calc-icon {
  margin-top: 0.8rem;
  transform: scale(2);
}
