<div class="title" matTooltip="Unsere Leistungen und Lösungen">
  {{ "solutions.title" | translate }}
</div>

<div class="solutions">
  <div class="item" *ngIf="showCalculator">
    <p routerLink="/altersrechner">
      <span style="font-weight: bold; text-transform: uppercase">{{
        "solutions.ac" | translate
      }}</span
      ><br />
      <mat-icon class="calc-icon">calculate</mat-icon>
    </p>
  </div>
  <div class="item">
    <p (click)="goToPazeApp()">
      <span style="font-weight: bold">PAZE</span
      ><span> {{ "solutions.paze" | translate }}</span
      ><br />
      <span>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/johnappsde.appspot.com/o/google_play_badge_de.png?alt=media&token=92750e39-5f41-4772-b808-8ddab5ba1adc"
          alt="PAZE"
        />
      </span>
    </p>
  </div>
  <div class="item">
    <p (click)="goToCoinEckeApp()">
      <span style="font-weight: bold">CoinEcke</span
      ><span> {{ "solutions.coinecke" | translate }}</span
      ><br />
      <span>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/johnappsde.appspot.com/o/google_play_badge_de.png?alt=media&token=92750e39-5f41-4772-b808-8ddab5ba1adc"
          alt="CoinEcke"
        />
      </span>
    </p>
  </div>
  <!-- <div class="item" *ngIf="showCalculator">
    <p routerLink="/altersrechner">
      <span style="font-weight: bold; text-transform: uppercase">{{
        "solutions.ac" | translate
      }}</span
      ><br />
      <mat-icon class="calc-icon">calculate</mat-icon>
    </p>
  </div> -->
</div>
