<div class="title" matTooltip="Unsere Lösungen">
  {{ "solutions.title" | translate }}
</div>

<div class="solutions">
  <div class="item">
    <p (click)="goToCoinEckeApp()">
      <span style="font-weight: bold">CoinEcke</span
      ><span> {{ "solutions.coinecke" | translate }}</span
      ><br />
      <span>
        <img src="assets/google_play_badge_de.png" alt="JOHN APPS" />
      </span>
    </p>
  </div>
  <div class="item">
    <p (click)="goToQuittungApp()">
      <span style="font-weight: bold">Quittung</span>
      <span>{{ "solutions.quittung" | translate }}</span>
    </p>
  </div>
</div>
