.title {
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 1rem;
  font-style: italic;
  color: beige;
  letter-spacing: 0.05rem;
}

.solutions {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.solutions .item {
  border-top: 0.1rem solid beige;
  margin-bottom: 1rem;
}

.solutions .item p {
  color: beige;
  text-align: center;
  cursor: pointer;
}

img {
  border-radius: 6px;
  box-sizing: border-box;
  height: 5rem;
}

.calc-icon {
  margin-top: 0.8rem;
  transform: scale(2);
}

.other-tools {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 1rem;
  h3 {
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px beige solid;
    letter-spacing: 0.05rem;
  }
  .tool {
    color: var(--secondary-color);
    text-transform: uppercase;
    margin: 0.5rem auto 0.5rem auto;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
  }
}
