

<div class="title">
  <p matTooltip="Aktuelle Nachrichten">{{ nTitle | uppercase }} </p>
  <mat-divider class="divider"></mat-divider>
</div>

<div class="input">
  <mat-form-field>
      <input type="text" matInput placeholder="Ort" [formControl]="nTown">
      <mat-icon matSuffix>place</mat-icon>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Land" [formControl]="nCountry">
      <mat-option *ngFor="let cCode of cCodes" [value]="cCode.value">{{ cCode.viewName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="nTown.invalid" (click)="showNewsData()">Abfragen</button>
</div>

<div class="response" *ngIf="respData">
  <mat-list *ngFor="let item of respData.articles">
      <mat-list-item>{{ item.title }}</mat-list-item>
      <mat-list-item>{{ item.date }}</mat-list-item>
      <mat-list-item>{{ item.desc }}</mat-list-item>
      <mat-list-item>{{ item.link }}</mat-list-item>
  </mat-list>
</div>