
.title {
    margin-top: 2em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1em;
}

.title p {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0;
}

.response {
    border: solid 0.2em #FFC107;
    border-radius: 1em;
}

.response div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1em;
    border-bottom: dashed 0.05em grey;
}

.response div .newsimg {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: start;
    align-self: start;
    margin-left: 0.5em;
}

.response div .newstitle {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: start;
    align-self: start;
    margin-left: 0.5em;
}

.response div .newsdate {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: start;
    align-self: start;
    margin-left: 0.5em;
}

.response div .newssrc {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: start;
    align-self: start;
    margin-left: 0.5em;
}

.response div .newsdesc {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: center;
    align-self: center;
    margin-left: 0.5em;
}