<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item matTooltip="Coronavirus safety tips for the public" routerLink="/information/coronavirus">
      <mat-icon>local_hospital</mat-icon>
      <span>CORONAVIRUS SAFETY</span>
    </button>
    <button mat-menu-item routerLink="/information/roadsafety" matTooltip="Road safety tips">
      <mat-icon>directions</mat-icon>
      <span>ROAD SAFETY</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title" matTooltip="Regional news">REGIONAL NEWS</div>

<div class="rss" *ngIf="googleNewsData">
  <div *ngFor="let i of googleNewsData">
    <p class="ititle"><a href="{{ i.children[1].innerHTML }}" target="_blank">{{ i.children[0].innerHTML }}</a></p>
    <p class="idate">{{ i.children[3].innerHTML }}</p>
    <p class="isrc"><a><span>&copy; </span>{{ i.children[5].innerHTML | uppercase }}</a></p>
  </div>
</div>

<!--
<div class="response" *ngIf="respData">
  <div *ngFor="let item of respData">
    <p class="newsimg"><img src="{{ item.urlToImage }}" alt="{{ item.title }}" width="150" height="auto"></p>
    <p class="newstitle"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a></p>
    <p class="newsdate">{{ convertDate(item.publishedAt) }}</p>
    <p class="newssrc"><a><span>&copy; </span>{{ item.source.name }}</a></p>
    <p class="newsdesc">{{ item.description }}</p>
  </div>
</div>
-->
