<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item routerLink="/roadsafety" matTooltip="Road safety tips">
        <mat-icon>directions</mat-icon>
        <span>ROAD SAFETY GUIDE</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="title">POTHOLE TRACKER &#7495;&#7497;&#7511;&#7491;</div>

<div class="content">
    <button mat-raised-button color="primary" (click)="savePotholeLocation()">REPORT<br>POTHOLE</button>
    <button mat-raised-button color="primary" (click)="showPotholes()">SHOW<br>POTHOLES</button>
</div>

<div class="gmap" *ngIf="lat && lng">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng" (mapClick)="getPosition($event)"></agm-marker> -->
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let data of potholeData" [latitude]="data.latitude" [longitude]="data.longitude">
      <!-- <agm-info-window> <p>Hello world!</p> </agm-info-window> -->
    </agm-marker>
  </agm-map>
</div>