
<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item routerLink="/news" matTooltip="Transport-related news">
        <mat-icon>radio</mat-icon>
        <span>NEWS</span>
      </button>
      <button mat-menu-item routerLink="/roadsafety" matTooltip="Road safety tips">
        <mat-icon>directions</mat-icon>
        <span>ROAD SAFETY GUIDE</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="title">POTHOLE INFO &#7495;&#7497;&#7511;&#7491;</div>

<div class="content">
    <button mat-fab color="primary" (click)="saveGeoLocation()">REPORT POTHOLE</button>
    <button mat-fab color="primary" (click)="msg()">SHOW POTHOLES</button>
</div>

<div class="gmap">GOOGLE MAP HERE</div>