<div class="title" matTooltip="Downloads">downloads</div>

<div class="downloads">
  <div class="item">
    <p>
      <span style="font-weight: bold">Ldgr</span><br /><br />
      <span>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/johnappsde.appspot.com/o/ldgr_logo.png?alt=media&token=f0849b94-88e5-46db-8fe4-4499a84f0e4a"
          alt="Ldgr"
          width="100"
          height="100"
        />
      </span>
    </p>
    <table style="color: beige">
      <thead>
        <tr>
          <th>Version number</th>
          <th>Release date</th>
          <th>Note</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="startDownloadV16()" style="cursor: pointer">
          <td>v16</td>
          <td>19/05/2022</td>
          <td style="color: lime">Latest version</td>
        </tr>
        <tr (click)="startDownloadV15()" style="cursor: pointer">
          <td matTooltip="Click to start download" style="cursor: pointer">
            v15
          </td>
          <td>19/04/2022</td>
          <td style="color: gold">Current version</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--   <div class="item">
    <p>
      <span style="font-weight: bold">Ldgr</span><br /><br />
      <span>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/johnappsde.appspot.com/o/ldgr_logo.png?alt=media&token=f0849b94-88e5-46db-8fe4-4499a84f0e4a"
          alt="Ldgr"
          width="100"
          height="100"
        />
      </span>
    </p>
  </div> -->
</div>
