
.dg {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.dg-message {
    margin-top: 1em;
    font-weight: bold;
    text-align: center;
}

.dg-buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.dg-options {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1em;
}

.dg-options button {
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.dg-cancel {
    margin-bottom: 1.5em;
}

