
<div class="dg">
  <div mat-dialog-content>
    <p class="dg-message">Wofür soll der Beleg sein?</p>
  </div>
  <div mat-dialog-actions class="dg-buttons">
    <div class="dg-options">
      <button mat-raised-button color="primary" (click)="doGiveAwayWf()" routerLink="/datenerfassung">GESCHENK</button>
      <button mat-raised-button color="primary" (click)="doSaleWf()" routerLink="/datenerfassung">&nbsp;&nbsp;VERKAUF&nbsp;&nbsp;</button>
    </div>
    <div class="dg-cancel">
      <button mat-raised-button color="accent" (click)="cancelDialog()" cdkFocusInitial>ABBRECHEN</button>
    </div>
  </div>
</div>

<!-- 
<button mat-raised-button color="primary" (click)="doGiveAwayWf()" routerLink="/transaction" cdkFocusInitial>GIVE AWAY</button>
 -->
