nav button:hover {
  background-color: #64b5f6;
}
.mat-menu-item:hover {
  background-color: #64b5f6;
}

.invoice {
  border: 0.1em solid #64b5f6;
}

.invoice table {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1em solid white; */
}

.document-title {
  font-weight: bold;
}

.invoice td {
  border: 1em solid white;
}

.row1 .col1 {
  vertical-align: top;
}

.row1 .col2 {
  vertical-align: top;
}

.invoice-number {
  width: 5em;
  margin-bottom: 0.01em;
}

.col2 mat-form-field {
  width: 7.5em;
}

.row3 mat-form-field {
  width: 15em;
}

.row5 {
  display: flex;
  flex-flow: row nowrap;
}

.row5 td .place {
  width: 8.5em;
  margin-right: 0.5em;
}

.row5 td .date {
  width: 5.5em;
  margin-left: 0.5em;
}

.row6 mat-form-field {
  width: 15em;
}

.preview-button {
  text-align: center;
  margin: 1em;
}

.after-tax input {
  font-weight: bold;
}
