<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item (click)="ucMessage()">
      <mat-icon>info</mat-icon>
      <span>INFO</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<!-- <div class="title" matTooltip="Kaufbeleg bzw. Quittung erstellen">
  KAUFBELEG
</div> -->

<div class="invoice" id="invoice">
  <table [formGroup]="invoiceForm">
    <caption>
      QUITTUNG
    </caption>
    <tr class="row1">
      <td class="col1">
        <mat-form-field class="invoice-number">
          <input
            matInput
            placeholder="Nr."
            type="number"
            formControlName="invoiceNumber"
          />
        </mat-form-field>
      </td>
      <td class="col2">
        <mat-form-field>
          <input
            matInput
            placeholder="Netto in EUR"
            formControlName="amountBeforeTax"
            type="number"
            step="0.01"
          /> </mat-form-field
        ><br />
        <mat-form-field>
          <mat-select formControlName="taxValue" placeholder="MwSt in %">
            <mat-option *ngFor="let vat of vats" [value]="vat.value">{{
              vat.viewValue
            }}</mat-option>
          </mat-select> </mat-form-field
        ><br />
        <mat-form-field>
          <input
            matInput
            placeholder="Brutto in EUR"
            formControlName="amountAfterTax"
            type="number"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr class="row3">
      <mat-form-field>
        <input
          matInput
          placeholder="von"
          formControlName="paidBy"
          type="text"
        />
      </mat-form-field>
    </tr>
    <tr class="row4">
      <mat-form-field>
        <input
          matInput
          placeholder="für"
          formControlName="paidFor"
          type="text"
        />
      </mat-form-field>
    </tr>
    <tr class="row5">
      <td>
        <mat-form-field>
          <input
            matInput
            placeholder="Ort"
            formControlName="transactionLocation"
            type="text"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Datum"
            formControlName="transactionDate"
          />
        </mat-form-field>
      </td>
    </tr>
    <tr class="row6">
      <mat-form-field>
        <input
          matInput
          placeholder="Buchungsvermerke"
          formControlName="furtherInfos"
          type="text"
        />
      </mat-form-field>
    </tr>
  </table>
  <div class="buttons">
    <button mat-raised-button color="primary" (click)="ucMessage()">
      DRUCKVORSCHAU
    </button>
  </div>
</div>
