<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item (click)="ucMessage()">
      <mat-icon>info</mat-icon>
      <span>INFO</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title" matTooltip="Kaufbeleg bzw. Quittung erstellen">
  KAUFBELEG | QUITTUNG
</div>

<div class="invoice-input-form" [formGroup]="itemForm">
  <mat-form-field class="invoice-input-item">
    <input
      matInput
      placeholder="Dienstleistung / Ware"
      formControlName="itemName"
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="invoice-input-price">
    <input
      matInput
      placeholder="Nettopreis in EUR"
      formControlName="itemPrice"
      type="number"
      step="0.01"
    />
  </mat-form-field>
  <mat-form-field class="vat-selector">
    <mat-select formControlName="itemTax" placeholder="MwSt in %">
      <mat-option *ngFor="let vat of vats" [value]="vat.value">{{
        vat.viewValue
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="ucMessage()">ADD</button>
</div>

<div class="guest-info-form" *ngIf="toggleInput">
  <mat-vertical-stepper #stepper>
    <mat-step>
      <div class="formGroup1">
        <ng-template matStepLabel>ZAHLUNGSANGABEN</ng-template>
        <mat-form-field>
          <input matInput placeholder="Vorname, Nachname" type="text" />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>WEITER</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <div class="formGroup2">
        <ng-template matStepLabel>ZAHLUNGSEMPFÄNGER</ng-template>

        <mat-form-field>
          <input matInput placeholder="Tischnummer" type="number" />
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>ZURÜCK</button>
          <button mat-button matStepperNext>WEITER</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <div class="formGroup3">
        <ng-template matStepLabel>ZAHLER</ng-template>
        <mat-form-field>
          <input matInput placeholder="Name des Geschäfts" type="text" />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>ZURÜCK</button>
          <button mat-button matStepperNext>WEITER</button>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>ENDE</ng-template>
      <p>Sie sind mit der Datenerfassung jetzt fertig.</p>
      <div>
        <button mat-button matStepperPrevious>ZURÜCK</button>
        <button mat-button (click)="stepper.reset()">NEU STARTEN</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

  <div class="submit-btn">
    <button mat-raised-button color="primary">
      VORSCHAU
    </button>
  </div>
</div>
