
nav button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.btns {
    margin-top: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.btns button {
    margin: 0.5em;
    margin-bottom: 1em;
}

.form {
    text-align: center;
}

.form mat-form-field {
    margin: 0.2em;

}

.action-btns button {
    margin: 0.4em;
}

table {
    width: 95%;
    margin: 0px auto;
  }

table tr:hover {
  background-color:#FFC107;
}  

th { font-weight: bold;}

.item-label {
    color: gray;
    font-weight: bold;
    font-size: 0.8em;
}

.tr2 {
    text-align: left;
}

.total {
    font-weight: bold;
}

.mat-header-row {
    pointer-events: none;
}