
button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.pagetitle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.locations {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 2em;
}

mat-form-field { width: 15em; }

.results {
    width: 16em;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: solid 0.2em #FFC107;
    border-radius: 1em;
}

.resulttitle { 
    font-weight: bolder; 
    color: gray;
    margin: 0.5em;
}

.fieldname {
       color: gray;
}

.approx {
    font-size: 0.5em;
}

/*
.selectedloc {
    font-size: 0.8em;
} */
