<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item matTooltip="Passenger management system" routerLink="/login">
        <mat-icon>person</mat-icon>
        <span>PMS</span>
      </button>
      <button mat-menu-item matTooltip="See pothole information" routerLink="/pothole-tracker"> 
        <mat-icon>terrain</mat-icon>
        <span>POTHOLE TRACKER</span>
      </button>
      <button mat-menu-item routerLink="/priceguide"> 
        <mat-icon>attach_money</mat-icon>
        <span>PRICE GUIDE</span>
      </button>
      <button mat-menu-item routerLink="/ticket"> 
        <mat-icon>receipt</mat-icon>
        <span>TICKET</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="title" matTooltip="Digital tools for transport">TRANSPORT</div>

<div class="btns">
    <button class="menu-btn" mat-raised-button color="primary" matTooltip="Passenger management system" routerLink="/login">PMS</button>
    <button class="menu-btn" mat-raised-button color="primary" matTooltip="See and submit pothole information" routerLink="/pothole-tracker">POTHOLE TRACKER</button>
    <button class="menu-btn" mat-raised-button color="primary" routerLink="/priceguide">PRICE GUIDE</button>
    <button class="menu-btn" mat-raised-button color="primary" routerLink="/ticket">TICKET</button>
</div>


  
