nav button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.title {
    text-align: center;
    margin: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.btns {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.btns button {
    font-size: 1em;
    width: 15em;
    height: 5em;
    border-radius: 0.8em;
    margin-top: 1em;
    margin-bottom: 1em;
}