@use "@angular/material" as mat;
@import "@angular/material/theming";
@include mat.core();

$mytheme-primary: mat.define-palette(mat.$amber-palette, 600); // #FFB300
$mytheme-accent: mat.define-palette(mat.$grey-palette, 300); // #E0E0E0
$mytheme-warn: mat.define-palette(mat.$red-palette, 500); // #F44336

$mytheme-all: mat.define-light-theme(
  $mytheme-primary,
  $mytheme-accent,
  $mytheme-warn
);
@include mat.all-component-themes($mytheme-all);

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
$myfont: "Lato", sans-serif;
* {
  font: 100% $myfont;
}

/* Add !important to overwrite all elements */
html {
  background-color: #424242;
}
