<div class="message">
  {{ "home.message" | translate }}
</div>

<div class="school-selector">
  <mat-form-field appearance="fill">
    <mat-label>{{ "home.school-list-label" | translate }}</mat-label>
    <mat-select [formControl]="selectedSchool">
      <mat-option *ngFor="let i of schoolsList" [value]="i.value">
        {{ i.viewValue }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="selectedSchool.invalid">{{ errorMessage() }}</mat-error>
  </mat-form-field>
</div>

<div class="call-to-action">
  <button mat-flat-button color="primary" (click)="onClickProceed()">
    {{ "home.get-in-touch" | translate }}
  </button>
</div>
<!-- 
<div style="text-align: center; margin: 3rem">{{ tableData | json }}</div> -->

<div class="version">v{{ currentAppVersion }}</div>
