.title {
  text-align: center;
  margin-top: 3rem;
}

.title img {
  width: 60%;
  height: auto;
}

.message {
  text-align: center;
  color: beige;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 0.5rem;
  margin: 1rem auto 1rem auto;
}

.call-to-action {
  margin: 3rem auto auto auto;
  text-align: center;
  button {
    text-transform: uppercase;
    height: 3rem;
    border-radius: 1.5rem;
  }
}

.footer {
  margin-top: 20rem;
}

.footer p {
  text-align: center;
}

.footer p a {
  color: beige;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
