.title {
  text-align: center;
  margin: 3rem;
}

/* .title img {
  width: 60%;
  height: auto;
} */

.message {
  text-align: center;
  color: var(--txt-color);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  margin: 6rem auto 1rem auto;
}

.call-to-action {
  margin: 3rem auto auto auto;
  text-align: center;
  button {
    text-transform: uppercase;
    height: 4rem;
    border-radius: 2rem;
  }
}

.footer {
  margin-top: 20rem;
}

.footer p {
  text-align: center;
}

.footer p a {
  color: beige;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
