.title {
  text-align: center;
  margin-top: 4em;
}

.title img {
  width: 60%;
  height: auto;
}

.message {
  text-align: center;
  color: beige;
  font-size: 1.5em;
}

a span {
  color: #424242;
  font-weight: bold;
}

button span {
  color: #424242;
  font-weight: bold;
}

.menu-btn {
  width: 17em;
}

.footer {
  margin-top: 21em;
}

.footer p {
  text-align: center;
}

.footer p a {
  color: beige;
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-weight: bold;
}
