nav {
  background-color: #ffb300;
  height: 3em;
}

.desktop-nav a {
  font-weight: bold;
  color: beige;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  float: left;
  display: block;
  cursor: pointer;
}

.mobile-nav {
  display: none;
}

.mat-menu-item:hover {
  background-color: #ffb300;
}
/*
.title {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 1.5em;
}

.title p {
  font-size: 2em;
  font-weight: bold;
  color: beige;
}
*/
.title {
  text-align: center;
  margin-top: 1em;
}

.title img {
  width: 100%;
  height: auto;
}

.message {
  text-align: center;
  color: beige;
  font-size: 1.5em;
}

.start-btns {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.start-btns button {
  font-size: 1em;
  width: 30%;
  height: 5em;
  border-radius: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.menu-btn {
  width: 17em;
}

@media screen and (max-width: 600px) {
  .desktop-nav a:not(:first-child) {
    display: none;
  }

  .start-btns button {
    width: 60%;
  }

  .mobile-nav {
    float: right;
    display: block;
    color: beige;
  }
}
