<nav>
  <mat-menu #nav_menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item routerLink="/about" matTooltip="About MANDI GUIDE">
      <mat-icon>info</mat-icon>
      <span>ABOUT</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="navinfos" matTooltip="Helpful information">
      <mat-icon>new_releases</mat-icon>
      <span>INFORMATION</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="navtools" matTooltip="Digital tools and services we offer">
      <mat-icon>menu</mat-icon>
      <span>TOOLS</span>
    </button>
    <button mat-menu-item routerLink="/contact" matTooltip="Contact us">
      <mat-icon>mail</mat-icon>
      <span>CONTACT</span>
    </button>
    <button mat-menu-item (click)="goToFacebook()" matTooltip="Visit our facebook page">
      <mat-icon><img src="https://img.icons8.com/material/24/000000/facebook-f.png"/></mat-icon> 
      <span>FACEBOOK</span>
    </button>
  </mat-menu>
  <mat-menu #navtools="matMenu">
    <button mat-menu-item matTooltip="Agriculture and farming" disabled>
      <mat-icon>eco</mat-icon>
      <span>AGRICULTURE</span>
    </button>
    <button mat-menu-item matTooltip="Business and finance" routerLink="/business"> 
      <mat-icon>business</mat-icon>
      <span>BUSINESS</span>
    </button>
    <button mat-menu-item matTooltip="Education and schools" disabled> 
      <mat-icon>school</mat-icon>
      <span>EDUCATION</span>
    </button>
    <button mat-menu-item matTooltip="Education and schools" disabled> 
      <mat-icon>account_balance</mat-icon>
      <span>GOVERNMENT</span>
    </button>
    <button mat-menu-item matTooltip="Transport, both public and private" routerLink="/transport"> 
      <mat-icon>directions_bus</mat-icon>
      <span>TRANSPORT</span>
    </button>
  </mat-menu>
  <mat-menu #navinfos="matMenu">
    <button mat-menu-item matTooltip="Coronavirus safety tips for drivers and transporters" routerLink="/coronavirus">
      <mat-icon>local_hospital</mat-icon>
      <span>CORONAVIRUS SAFETY TIPS</span>
    </button>
    <button mat-menu-item matTooltip="Regional news" routerLink="/news"> 
      <mat-icon>radio</mat-icon>
      <span>REGIONAL NEWS</span>
    </button>
    <button mat-menu-item matTooltip="General road safety tips" routerLink="/roadsafety"> 
      <mat-icon>directions</mat-icon>
      <span>ROAD SAFETY TIPS</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="nav_menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title">
  <p matTooltip="Reliable transport information, services and tools">- MANDI GUIDE -<br><span style="font-size: 0.6em">Digital tools, information and services</span></p>
</div>

<div class="start-btn">
  <button mat-raised-button color="primary" [matMenuTriggerFor]="infobuttons" matTooltip="Helpful information">INFORMATION</button>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="toolbuttons" matTooltip="Digital tools and services we offer">TOOLS</button>
  <mat-menu #toolbuttons="matMenu">
    <button class="menu-btn" mat-menu-item matTooltip="Agriculture and farming" disabled>AGRICULTURE</button>
    <button class="menu-btn" mat-menu-item matTooltip="Business and finance" routerLink="/business">BUSINESS</button>
    <button class="menu-btn" mat-menu-item matTooltip="Education and schools" disabled>EDUCATION</button>
    <button class="menu-btn" mat-menu-item matTooltip="Local government" disabled>GOVERNMENT</button>
    <button class="menu-btn" mat-menu-item matTooltip="Transport, both public and private" routerLink="/transport">TRANSPORT</button>
  </mat-menu>
  <mat-menu #infobuttons="matMenu">
    <button class="menu-btn" mat-menu-item matTooltip="Coronavirus safety recommendations" routerLink="/coronavirus">CORONAVIRUS SAFETY</button>
    <button class="menu-btn" mat-menu-item matTooltip="Regional news" routerLink="/news">REGIONAL NEWS</button>
    <button class="menu-btn" mat-menu-item matTooltip="General road safety recommendations" routerLink="/roadsafety">ROAD SAFETY</button>
  </mat-menu>
</div>

<!--
  <mat-menu #navtools="matMenu">
    <button mat-menu-item matTooltip="Passenger management system" routerLink="/login">
      <mat-icon>person</mat-icon>
      <span>PMS</span>
    </button>
    <button mat-menu-item matTooltip="See pothole information" routerLink="/pothole-tracker"> 
      <mat-icon>terrain</mat-icon>
      <span>POTHOLE TRACKER</span>
    </button>
    <button mat-menu-item routerLink="/priceguide"> 
      <mat-icon>attach_money</mat-icon>
      <span>PRICE GUIDE</span>
    </button>
    <button mat-menu-item routerLink="/ticket"> 
      <mat-icon>receipt</mat-icon>
      <span>TICKET</span>
    </button>
  </mat-menu>

  <mat-menu #toolbuttons="matMenu">
    <button class="menu-btn" mat-menu-item matTooltip="Passenger management system" routerLink="/login">PMS</button>
    <button class="menu-btn" mat-menu-item matTooltip="See and submit pothole information" routerLink="/pothole-tracker">POTHOLE TRACKER</button>
    <button class="menu-btn" mat-menu-item routerLink="/priceguide">PRICE GUIDE</button>
    <button class="menu-btn" mat-menu-item routerLink="/ticket">TICKET</button>
  </mat-menu>
-->