<nav>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" matTooltip="Home">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </button>
    <button mat-menu-item routerLink="/gastanmeldung" matTooltip="Mein Besuch anmelden">
      <mat-icon>create</mat-icon>
      <span>GASTANMELDUNG</span>
    </button>
    <button mat-menu-item routerLink="/bookkeeping" matTooltip="Meine Einnahmen und ausgaben erfassen">
      <mat-icon>account_balance_wallet</mat-icon>
      <span>BUCHFÜHRUNG</span>
    </button>
    <button mat-menu-item routerLink="/timing" matTooltip="Meine Arbeitszeiten erfassen">
      <mat-icon>timer</mat-icon>
      <span>ZEITERFASSUNG</span>
    </button>
    <button mat-menu-item matTooltip="Mein Schaden erfassen" (click)="msg()">
      <mat-icon>broken_image</mat-icon>
      <span>SCHADEN</span>
    </button>
    <button mat-menu-item matTooltip="Meine Störung erfassen" (click)="msg()">
      <mat-icon>report_problem</mat-icon>
      <span>STÖRUNG</span>
    </button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
</nav>

<div class="title">
  <p matTooltip="Digitale Erfassungstools">- FORMULIZE -<br><span style="font-size: 0.6em">Das digitale Erfassungstool</span></p>
</div>

<div class="start-btn">
  <button mat-raised-button color="primary" routerLink="/gastanmeldung">GASTANMELDUNG</button>
  <button mat-raised-button color="primary" routerLink="/bookkeeping">BUCHFÜHRUNG</button>
  <button mat-raised-button color="primary" routerLink="/timing">ZEITERFASSUNG</button>
  <button mat-raised-button color="primary" (click)="msg()">SCHADEN</button>
  <button mat-raised-button color="primary" (click)="msg()">STÖRUNG</button>
</div>  
