nav button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.chead {
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #FFC107;
}

.cbody {
    text-align: left;
}

.cfoot {
    margin-top: auto;
    text-align: center;
}

.cfoot a {
    color: black;
}