<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item routerLink="/roadsafety" matTooltip="Road safety tips">
        <mat-icon>directions</mat-icon>
        <span>ROAD SAFETY</span>
      </button>
      <button mat-menu-item routerLink="/news" matTooltip="Transport-related news">
        <mat-icon>radio</mat-icon>
        <span>NEWS</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="chead">Coronavirus safety tips for drivers and transporters</div>
<div class="cbody">
  <ul>
    <li>Keep vehicle ventilated at all times (if possible).</li>
    <li>Increase hygiene and sanitation. Clean and sanitize vehicle (especially seats, armsets, doors and handles) after every trip.</li>
    <li>Drivers should use face masks and sanitary gloves (if possible).</li>
    <li>Avoid overloading. Underloading in order to achieve some amount of social distancing between passengers is more effective.</li>
    <li>Avoid cash if possible (mobile money is an alternative).</li>
    <li>Only accept passengers with signs of a cold or fever if necessary.</li>
    <li>Keep records of your passengers. In case one of them eventually turns out to be an infected person, those records can help prevent further infections.</li>
    <li>Use posters inside and outside of vehicles to make passengers aware of the situation.</li>
  </ul>  
</div>

<div class="chead">Hygiene and safety tips for preventing the spread of the coronavirus (COVID-19) for the general public <br> (as recommendationed by the WHO)</div>
<div class="cbody">
  <ol>
    <li>Wash your hands often.</li>
    <li>Cough / sneeze into your elbow.</li>
    <li>Don't touch your face.</li>
    <li>Stay more than 1 meter away from each other.</li>
    <li>Stay home if you feel sick.</li>
  </ol>
</div>

<div class="chead">Common coronavirus (COVID-19) symptoms</div>
<div class="cbody">
  <ul>
    <li>Dry cough</li>
    <li>Fever</li>
    <li>Difficulty breathing (only in severe cases)</li>
    <li>Tiredness (sometimes)</li>
    <li>Joint pain (sometimes)</li>
    <li>Headache (sometimes)</li>
    <li>Sore throat (sometimes)</li>
  </ul>
</div>

<div class="chead">What should I do if I have the above mentioned coronavirus (COVID-19) symptoms</div>
<div class="cbody">
  <ul>
    <li>Stay home and self-isolate for 7 days.</li>
    <li>If you have a family, everyone should stay in the house for 14 days.</li>
    <li>Take some paracetamol.</li>
    <li>Stay hydrated, drink alot of water.</li>
    <li>Try to rest as much as possible.</li>
    <li>Call a doctor if you have not recovered after 7 days.</li>
    <li>Do not go to the hospital in person.</li>
  </ul>
</div>

<div class="cfoot">&copy; <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">World Health Organization (WHO)</a></div>