nav button:hover { background-color: #FFC107; }
.mat-menu-item:hover { background-color: #FFC107; }

.title {
    text-align: center;
    margin: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.locations {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 1em;
}

mat-form-field { width: 15em; }

.locations button {
    width: 12em;
    margin-top: 1em;
}

/* Style for ticket */
.invoice-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    font-size: 16px;
    line-height: 24px;
    background-color: #ffffff;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
    background-color: #ffffff;
}

.invoice-box table td {
    padding: 5px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading td {
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

.invoice-box table tr.item td{
    border-bottom: 1px solid #eee;
}

.invoice-box table tr.item td:nth-child(2){
    font-weight: bold;
}

.invoice-box table tr.item.last td {
    border-bottom: none;
}

.invoice-box table tr.total td {
    border-top: 3px solid #eee;
}

.invoice-box table tr.total td:nth-child(2) {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.trTitle {
    text-align: center;
    margin-left: 5em;
}

.invoice-box .sig {
    text-align: center;
    font-size: 0.6em;
    margin-top: 3em;
    margin-bottom: -1.5em;
}

.currency { 
    font-weight: bold; 
}

/*Style for buttons*/
.nav-button {
    margin-top: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; 
}

.nav-button div {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

button { font-size: 1em; }

