nav button:hover { background-color: #FFC107; }

.mat-menu-item:hover { background-color: #FFC107; }

.pagetitle {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

.locations {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 2em;
}

mat-form-field { width: 15em; }

.locations button {
    width: 12em;
    margin-top: 1em;
}