<nav>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/home" matTooltip="Home">
        <mat-icon>home</mat-icon>
        <span>HOME</span>
      </button>
      <button mat-menu-item routerLink="/news" matTooltip="Transport-related news">
        <mat-icon>radio</mat-icon>
        <span>NEWS</span>
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
</nav>

<div class="pagetitle">TICKET TOOL</div>

<div class="locations" *ngIf="toggleInput">
    <mat-form-field class="start-location">
        <mat-select placeholder="FROM" [formControl]="startLocation">
          <mat-option *ngFor="let sPlace of startPlaces" [value]="sPlace.value">{{ sPlace.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="end-location">
        <mat-select placeholder="TO" [formControl]="endLocation">
            <mat-option *ngFor="let ePlace of endPlaces" [value]="ePlace.value">{{ ePlace.viewValue }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="FEE" [formControl]="ticketFee" type="number">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="PASSENGER NAME" [formControl]="ticketOwnerName" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="PASSENGER ID" [formControl]="ticketOwnerId" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="TICKET NUMBER" [formControl]="ticketNumber" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="previewTicket()">PREVIEW</button>

</div>

<div class="invoice-box" id="ticketElement" *ngIf="togglePreview">
  <table cellpadding="0" cellspacing="0">
      <tr class="top">
          <td colspan="2">
              <table>
                  <tr>
                      <td class="title"><!-- trLogo --></td>
                      
                      <td>
                        <span>DATE: </span> <span style="font-weight: bold">{{ tDate }}</span><br><br>
                        <span>PASSENGER INFORMATION</span><br>
                        <span>NAME(S): </span><span style="font-weight: bold">{{ ticketOwnerName.value | uppercase }}</span><br>
                        <span>ID NUMBER: </span><span style="font-weight: bold">{{ ticketOwnerId.value | uppercase }}</span><br>
                        <span>TICKET NUMBER: </span><span style="font-weight: bold">{{ ticketNumber.value }}</span>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
           
    <tr class="heading">
      <td></td>
        
      <td></td>
    </tr>
    
    <tr class="item">
        <td>FROM</td>
        
        <td>{{ startLocation.value | uppercase }}</td>
    </tr>
    
    <tr class="item">
        <td>TO</td>
        
        <td>{{ endLocation.value | uppercase }}</td>
    </tr>

    <!-- <tr class="item">
      <td>FEE</td>
      
      <td>{{ ticketFee.value }}</td>
  </tr>
    
    <tr class="item last">
        <td>TAX (19.25%)</td>
        
        <td>{{ calculateTaxTotal(ticketFee.value)[0] }}</td>
    </tr> -->
    
    <tr class="total">
        <td>FARE INCL. TAX</td>
        
        <td>{{ ticketFee.value }} <span class="currency"> XAF </span>
        </td>
    </tr>
  </table>
  <p class="sig">⚙️ by mandiguide</p>
</div>

<div class="nav-button" *ngIf="toggleButtons">
  <div>
      <button mat-raised-button color="accent" (click)="backToInput()">EDIT</button>
  </div>
  <div>
      <!-- <button mat-raised-button color="primary">SAVE</button> -->
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">PRINT</button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="saveAsImage()">as IMAGE</button>
          <button mat-menu-item (click)="saveAsPdf()">as PDF</button>
      </mat-menu>
  </div>
</div>