
<div class="o-title">
    <div class="title" matTooltip="insurance offers">OFFERS</div>

    <div class="items">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu1">HEALTH INSURANCE</button>
        <mat-menu #menu1="matMenu">
            <a mat-menu-item href="https://www.allianzcare.com/en/personal-international-health-insurance.html" target="_blank" matTooltip="AllianzCare - Internatinal Health Insurance">Allianz</a>
            <a mat-menu-item href="https://en.zuwanderer.aok.de/home" target="_blank">AOK</a>
            <a mat-menu-item href="https://www.axaglobalhealthcare.com/en/international-health-insurance" target="_blank" matTooltip="AXA - Internatinal Health Insurance">AXA</a>
            <a mat-menu-item href="https://www.barmer.de/en" target="_blank">BARMER</a>
            <a mat-menu-item href="http://www.care-concept.de/expatriates_eng.php?navilang=eng" target="_blank">CARE CONCEPT</a>
            <a mat-menu-item href="https://www.dak.de/dak/english-2082268.html" target="_blank" matTooltip="DAK-Gesundheit">DAK</a>
            <a mat-menu-item href="https://www.ottonova.de/expats" target="_blank" matTooltip="Ottonova's health insurance for Expats">OTTONOVA</a>
            <a mat-menu-item href="https://www.tk.de/en" target="_blank" matTooltip="Techniker Krankenkasse">TK</a>
        </mat-menu>
    </div>

    <div class="items">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu2">LIABILITY INSURANCE</button>
        <mat-menu #menu2="matMenu">
            <a mat-menu-item href="http://www.care-concept.de/krankenversicherung/auslandsversicherung_haftpflicht/haftpflicht_fuer_auslandsreisen_einleitung_eng.php?navilang=eng" target="_blank">CARE CONCEPT</a>
            <a mat-menu-item href="https://www.hellogetsafe.com/en-de/leistungsdetails/haftpflicht" target="_blank">GETSAFE</a>
        </mat-menu>
    </div>

    <div class="items">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menu3">TRAVEL INSURANCE</button>
        <mat-menu #menu3="matMenu">
            <a mat-menu-item href="https://www.allianzcare.com/en/personal-international-health-insurance/travel-insurance.html" target="_blank">Allianz</a>
            <a mat-menu-item href="https://www.axa-schengen.com/en/travel-insurance-europe-carefree-travel" target="_blank">AXA</a>
            <a mat-menu-item href="https://www.hmrv.de/en" target="_blank">HanseMerkur</a>
        </mat-menu>
    </div>

    <div class="items">
        <button mat-raised-button color="primary" (click)="msg()">OTHERS</button>
    </div>

</div>