
<div class="offers-container">
    <div class="title" matTooltip="transport services">SERVICES</div>

    <div class="items">
        <button mat-raised-button color="primary" matTooltip="Guide to your transport fares" routerLink="/services/priceguide">PRICE GUIDE</button>
    </div>

    <div class="items">
        <button mat-raised-button color="primary" matTooltip="Plan your transport-related activities with us" (click)="msg()">PLANNING</button>
    </div>

    <div class="items">
        <button mat-raised-button color="primary" (click)="msg()">OTHERS</button>
    </div>

</div>