
.offers-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.title {
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.items {
    margin-bottom: 1em;
}

.items button {
    width: 15em;
    height: 5em;
    border-radius: 0.4em;
    font-size: 1em;
    font-weight: bold;
}

mat-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    font-weight: bold;
    width: 13em;
}

.mat-menu-item:hover {
    background-color: #1DE9B6;
}